<mat-toolbar color="primary">

  <button mat-icon-button (click)="clickMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="../assets/images/big_logo_light.svg" style="height: 28px;">

  <span fxFlex></span>

  <app-theme-picker></app-theme-picker>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu x-position="after">
    <button routerLink="/profile" mat-menu-item>{{ user.name }}'s profile</button>
    <button routerLink="/login" mat-menu-item>logout</button>
  </mat-menu>

</mat-toolbar>
