<mat-nav-list>

    <mat-list-item routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>{{'PAGES.HOME.MENU' | translate }} </span>
    </mat-list-item>

    <mat-list-item routerLink="/products" routerLinkActive="active">
      <mat-icon>local_grocery_store</mat-icon>
      <span>Products </span>
    </mat-list-item>

    <mat-list-item routerLink="/dynamic-form-example" routerLinkActive="active">
      <mat-icon>receipt</mat-icon>
      <span>Dynamic forms 1</span>
    </mat-list-item>

    <mat-list-item routerLink="/profile" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      <span>Profile with guard</span>
    </mat-list-item>

    <mat-expansion-panel class="app-naviation-expansion-panel active" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header expandedHeight="48px">
        <mat-panel-title>
          Expansible menu
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list-item routerLink="/another" routerLinkActive="active">
        <mat-icon>help</mat-icon>
        <span>Another menu </span>
      </mat-list-item>
      <mat-list-item routerLink="/another-one" routerLinkActive="active">
        <mat-icon>help</mat-icon>
        <span>And another one</span>
      </mat-list-item>
    </mat-expansion-panel>

    <mat-list-item routerLink="/about" routerLinkActive="active">
      <mat-icon>help</mat-icon>
      <span>about </span>
    </mat-list-item>

  </mat-nav-list>
