<div fxLayoutGap="14px" fxLayout="row">
  <mat-card fxFlex="100">
    <h1>angular-material-starter</h1>
    <p>This is a starter template for angular with angular material as design components for angular</p>    
    <h2>The project is based on following stack</h2>
    <ul>
      <li>angular cli</li>
      <li>angular 5</li>
      <li>angular material</li>
      <li>angular flex-layout</li>
    </ul>
    <h2>It has the following features</h2>
    <ul>
      <li>SPA Application Template</li>
      <li>Header with menu / theme change / profile</li>
      <li>Collapsible side menu for navigation</li>
      <li>Routing module organized in pages</li>
      <li>Angular Material theming with live theme change</li>
      <li>Highly responsive with flex-layout</li>
    </ul>
  </mat-card>
</div>