/* You can add global styles to this file, and also import other style files */
// Include angulat material theming
@import '~@angular/material/_theming';

// Include material icons
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

// **Be sure that you only ever include this mixin once!**
@include mat-core();

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

// Import indigo-pink theme (that will be our default).
@import './assets/custom-themes/indigo-pink.scss';

// Import deep-purple-amber theme.
@import './assets/custom-themes/deep-purple-amber.scss';

// Import pink-blue-grey theme.
@import './assets/custom-themes/pink-blue-grey.scss';

// Import pink-blue-grey theme.
@import './assets/custom-themes/purple-green.scss';


html, body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
