<div class="scanner-shell" [hidden]="!scannerData.hasDevices">

  <zxing-scanner #scanner start="true" [device]="scannerData.currentDevice" (scanSuccess)="handleQrCodeResult($event)"
    [formats]="['QR_CODE']">
  </zxing-scanner>

  <footer>
    <span>Result:</span>
    <span>
      <em *ngIf="!scannerData.qrResultString">Waiting for scan...</em>
      <strong>{{ scannerData.qrResultString }}</strong>
    </span>
  </footer>

  <button id="scanner-option" mat-fab (click)="openDialog()">
    <mat-icon aria-label="scanner options">photo_camera</mat-icon>
  </button>

</div>
